.app-container {
	.breadcrumb {
		margin-bottom: 20px;
	}

	.tags-list {
		padding: 20px;

		.tag {
			padding: 0 10px;
			font-size: 14px;
			color: $fontLightColor;
			background-color: #f0f0f0;
			border-radius: 4px;
			line-height: 34px;
			margin: 0 10px 10px 0;
			display: inline-block;
		}
	}
}
