.table-model {
  &-title {
    background-color #F5F7FA
    color #999
    &>* {
      border-top 1px solid #E7EAEC
    }
  }
  .row {
    display flex
    align-items center
    &>* {
      flex 1
      line-height 48px
      box-sizing border-box
      padding-left 10px
      color #666
      border-left 1px solid #E7EAEC
      border-bottom 1px solid #E7EAEC
      &:nth-child(even) {
        border-right 1px solid #E7EAEC
      }
    }
    .el-select, .el-input {
      width 230px!important
    }
  }
}
