@import './variables.styl';
html , body{
  width 100%
  height 100%
}
body {
	font-family: 'PingFangSC-Regular', 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
	font-size: 14px;
}

img {
	width: 100%;
	vertical-align: top;
}

/* 重置 dialog组件样式 */
.el-dialog__wrapper {
	.el-dialog {
		border: 1px solid #D5D8DE;
	}

	.el-dialog__header {
		padding-bottom: 0;
	}

	.el-dialog__body {
		padding: 30px 20px;
	}

	.el-dialog__footer {
		background-color: #F1F1F1;
		padding: 20px;

		.el-button {
			padding: 10px 18px;

			&:hover {
				background-color: #E8F7F4;
				border: 1px solid #8CD9C9;
				color: #1AB394;
			}

			&:last-child {
				color: #FFF;
				border-color: $commonGreen !important;
				background-color: $commonGreen !important;
			}
		}
	}
}

/* 重置 pagination组件样式 */
.el-pagination {
	color: #606266;
	font-weight: normal;

	.el-pager li {
		&.active, &:hover {
			color: $commonGreen !important;
		}
	}

	.el-input__inner:focus {
		border-color: $commonGreen !important;
	}
}

/* 重置 tabs组件样式 */
.el-tabs {
	.el-tabs__item {
		color: #999;
		font-weight: normal;

		&.is-active {
			color: $commonGreen !important;
		}
	}

	.el-checkbox__inner:hover, .el-checkbox__input.is-focus .el-checkbox__inner {
		border-color: $commonGreen !important;
	}

	.el-checkbox__input.is-checked .el-checkbox__inner, .el-checkbox__input.is-indeterminate .el-checkbox__inner {
		background-color: $commonGreen !important;
		border-color: $commonGreen !important;
	}
}

.el-radio__input.is-checked .el-radio__inner {
	border-color: $commonGreen;
	background: $commonGreen;
}

.el-radio__input.is-checked+.el-radio__label {
	color: $fontDarkColor;
}

/* 重置 Tooltip组件样式 */
.el-tooltip__popper.is-light {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
	border-radius: 2px;
	border-color: #fff;
}

.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow {
	border-bottom-color: #ebeef5;
}
