$themeColor = #2B5B8B;
$themeActiveColor = #124678;
$commonGreen = #1ab394;
$borderColor = #D5D8DE;
$fontLightColor = #999;
$fontDefaultColor = #666;
$fontDarkColor = #333;
$themeColor = #2B5B8B;
$themeActiveColor = #124678;
