.label-category-page {
  .add-category {
    background-color #fff
    padding 20px 20px 20px 25px
    display flex
    border-top 4px solid #e8e8e8
    &-dialog .el-dialog {
      width 530px
      .el-input {
        width 300px
      }
      .el-cascader {
        width 300px
      }
    }
    .btn {
      background-color #1AB394
      border-radius 4px
      color #fff
      width 96px
      line-height 40px
      text-align center
      cursor pointer
    }
  }
  .category-tree {
    margin-top 20px
    padding 20px 20px 20px 25px
    background-color #fff
  }
}

